@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

:root {

    /* principal colors */
    --color-01: #4E4E72;
    --color-02: #8F155C;
    --color-03: #CD559B;


    /* neutral */
    --neutral-black: #292929;
    --neutral-white: #F9F9F9;
    --neutral-box: #E5E5E5;
    --neutral-mark: #C1D4DE;

    /* fonts */
    --ubuntu: 'Ubuntu', sans-serif; ;
    --ubuntu-mono: 'Ubuntu Mono', monospace;;
}

body {
    color: var(--neutral-black);
    font-family: var(--ubuntu);
}