body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(180deg, var(--color-01), var(--color-02));
    background-repeat: no-repeat;
    background-size: 100% 100vh;

}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1.8em;
    height: 100vh;
    background-color: var(--neutral-white);
    /* border-radius: 20px 1px;
    box-shadow: 6px 3px 14px 0px #00000030; */
}

#image {
    display: none;
    position: absolute;
    width: 3.3em;
    left: auto;
    margin-left: -1.5em;
    animation: dinamic-image 1.5s ease-in-out infinite alternate;
}

@keyframes dinamic-image {
    from {top: 15px;}

    to {top: 30px;};
}

.box-principal {
    font-family: var(--ubuntu-mono);
    font-weight: bold;
    text-align: center;
}

#title {
    background-color: var(--neutral-mark);
    border-radius: 10px;
    padding: .4em 0;
    margin-top: 1em;
    font-size: 1.5em;
    color: var(--color-01);
}

#subtitle {
    font-size: 1em;
    color: var(--color-02);
    margin-top: .8em;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}

#realValue {
    border-radius: 5px;
    background-color: var(--neutral-box);
    border: none;
    padding: .5em 1.2em;
    font-size: 1.05em;
    margin: .5em 0 1.5em 0;
}

.group-currency__title {
    font-size: 1.1em;
    margin-bottom: .5em;
}

.group-currency__label {
    display: block;
}

.button {
    justify-self: end;
    font-family: var(--ubuntu);
    font-size: 1.05em;
    width: 15rem;
    margin-bottom: 1.5em;
    padding: .8em 0;
    background-color: var(--color-03);
    border-radius: 5px;
    border: none;
    color: var(--neutral-white);
    box-shadow: 5px 2px 10px 0px #00000030;
    transition: .5s;
}

.button:hover {
    background-color: #ad4883;
    cursor: pointer;
}

.box-result {
    display: inline-block;
}

#message {
    text-align: center;
    color: var(--color-02);
    margin-bottom: .5em;
}

#result {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}


/* Resposive */

@media screen and (min-width: 375px) {
    #image {
        display: block;
    }

    @keyframes dinamic-image {
        from {top: 60px;}
    
        to {top: 80px;};
    }
}

@media screen and (min-width: 425px) {

    main {
        justify-content: center;
        width: 20em;
        padding: 0 1em;
        border-radius: 20px 1px;
        box-shadow: 6px 3px 14px 0px #00000030;
        margin: 0 auto;
        height: auto;
    }

    #image {
        width: 4.5em; 
    }

    .form-group {
        margin: 1em 0 1em 0;
    }

    #realValue {
        margin-bottom: 1.5em;
    }

    .box-result {
        display: inline-block;
        height: 4em;
    }
}

@media screen and (min-width: 768px) {

    #image {
        width: 5em; 
    }

    main {
        width: 26em;
        margin: 8em auto;
    }

    .form-group {
        margin: 1em 0 1.5em 0;
    }

    .group-currency__list {
        columns: 2;
    }


}